#topnavbar{
    background: linear-gradient(to right, rgba(189,21,21,1), #ff4b2b);
    height:40px;
    font-family: 'Poppins';
}
#bottomnavbar{
    background: linear-gradient(207deg, rgba(237,26,26,1) 0%, rgba(189,21,21,1) 89%);
    height:50px;
}
#bottomnavbar a{
    font-family: 'Poppins';
    color: yellow;
}
#bottomnavbar .material-icons{
    color: rgb(32, 202, 32);
}
a{
    text-decoration: none;
    color: inherit; 
}
button{
    outline: none;
}
#headercontent{
    text-align: center;
    top: 15px;

}
img{
    height: 50px;
    width: auto;
}
