<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center"> <h1>Person Details</h1></div>
        <div class="col-sm-2" ></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8"><mat-card id="matcardheader"></mat-card></div>
        <div class="col-sm-2"></div>
    </div>
    <form [formGroup]="detailForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <mat-card>
                    <div class="row">
                        <div class="col-sm-3">
                            <mat-form-field style="width: 100%;">
                                <mat-label>User ID</mat-label>
                                <input matInput formControlName="userId" maxlength="30" autocomplete="off" required>
                                <mat-error>
                                    <span *ngIf="(userId.dirty || userId.touched) && userId.invalid && userId.errors.required">
                                    User ID is required.
                                    </span>
                                </mat-error>
                            </mat-form-field> 
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field style="width: 100%;">
                                <input id="password" type="password" placeholder="Password" matInput formControlName="password" showHideInput maxlength="30" autocomplete="off">
                                <i class="material-icons" matSuffix showHideTrigger="password" [showHideStatus]="{ materialIcon: true, id: 'password' }"></i>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field style="width: 100%;">
                                <input id="password" type="password" placeholder="Re-enter Password" matInput formControlName="confirmPassword" showHideInput maxlength="30" autocomplete="off">
                                <i class="material-icons" matSuffix showHideTrigger="password" [showHideStatus]="{ materialIcon: true, id: 'password' }"></i>
                                <mat-error *ngIf="(confirmPassword.dirty || confirmPassword.touched) && confirmPassword.invalid ">
                                    Passwords do not match
                                </mat-error>  
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Person Type</mat-label>
                                <mat-select formControlName="pertId" required>
                                    <!-- Static Version
                                    <mat-option>None</mat-option>
                                    <mat-option value="student">Student</mat-option>
                                    <mat-option value="professor">Professor</mat-option>
                                    <mat-option value="visitor">Visitor</mat-option> -->
                                    <mat-option [value]="personType.id" *ngFor="let personType of personTypes">
                                        {{personType.type}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <mat-form-field style="width: 100%;">
                                <mat-label>First Name</mat-label>
                                <input matInput  formControlName="firstName" maxlength="30" autocomplete="off" required>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Last Name</mat-label>
                                <input matInput formControlName="lastName" maxlength="30" autocomplete="off" required>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field style="width: 100%;">
                                <mat-label>SSN</mat-label>
                                <input matInput  mask="000-00-0000" formControlName="ssn" required>
                                <mat-error>
                                    <span *ngIf="(ssn.dirty || ssn.touched) && ssn.invalid && ssn.errors.required">
                                    SSN is required.
                                    </span>
                                    <span *ngIf="(ssn.dirty || ssn.touched) && ssn.invalid">
                                    SSN is invalid.
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Birthday</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="birthDay">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- Address Infomation-->
                    <div formGroupName="address"> 
                    <div class="row" >
                        <div class="col-sm-3">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Street</mat-label>
                                <input matInput formControlName="street" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field style="width: 100%;">
                                <mat-label>City</mat-label>
                                <input matInput formControlName="city" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field style="width: 100%;">
                                <mat-label>State</mat-label>
                                <input matInput formControlName="state" mask="SS" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Zip Code</mat-label>
                                <input matInput formControlName="zip" mask="00000"autocomplete="off">
                            </mat-form-field>
                        </div>
                    </div>
                    </div>
                    <!-- Contact Information-->
                    <div formGroupName="emgContact">
                    <div class="row">
                        <div class="col-sm-3">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Contact Name</mat-label>
                                <input matInput formControlName="contactName" maxlength="30" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Contact Relation</mat-label>
                                <input matInput formControlName="contactRelation" maxlength="30" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Contact Phone</mat-label>
                                <input matInput mask="(000) 000-0000" formControlName="contactPhone" maxlength="30" autocomplete="off" >
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Contact Email</mat-label>
                                <input matInput formControlName="contactEmail" maxlength="30">
                                <mat-hint>
                                    <span *ngIf="(contactEmail.dirty || contactEmail.touched) && contactEmail.invalid">
                                        Email is invalid.
                                    </span>
                                </mat-hint>                                
                            </mat-form-field> 
                        </div>
                    </div>
                    </div>
                    <!-- Dynamic Phone Addition/Subtraction-->
                    <div formArrayName="phones">
                        <div class="row" *ngFor="let phone of phones.controls; let i=index" [formGroupName]="i">
                            <div class="col-sm-3">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Phone</mat-label>
                                    <mat-label >&nbsp;</mat-label>
                                    <input matInput mask="(000) 000-0000" formControlName="phone" autocomplete="off">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Phone Type</mat-label>
                                    <mat-label >&nbsp;</mat-label>
                                    <mat-select formControlName="phoneType"> 
                                    <mat-option [value]="phoneType.type" *ngFor="let phoneType of phoneTypes" >
                                        {{phoneType.type}}
                                    </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-1" >
                                <a (click)="delPhone(i);" *ngIf="phones.controls.length > 1"><i class="material-icons" id="remove" >remove_circle</i></a>
                            </div>
                            <div class="col-sm-1">
                                <a (click)="addPhone();" *ngIf="phones.controls.length-1 == i"><i class="material-icons" id="add" >add_circle</i></a>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                    </div>
                    <!-- End adding phones-->

                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                            <button mat-raised-button color="primary" *ngIf="updateFlag==false">Save</button>
                            <button mat-raised-button color="primary" *ngIf="updateFlag==true">Update</button>
                        </div>
                        <div class="col-sm-3">
                            <!-- <button mat-raised-button color="warn" (click)="detailForm.reset()">Reset</button> -->
                            <button mat-raised-button color="warn" (click)="reset()">Reset</button>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </form>
</div>

