
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8" style="text-align: center;" > <h1>Person List</h1></div>
      <div class="col-sm-2" ></div>
  </div>
  <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
          <!--Search Filter-->
          <div class="row">
              <div class="col-sm-4"></div>
              <div class="col-sm-4" ></div>
              <div class="col-sm-4" style="text-align: right;">
                  <mat-form-field>
                      <mat-label>Filter</mat-label>
                      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Person">
                  </mat-form-field>
              </div>
          </div>
            <!-- Display Table -->
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef> First Name</th>
              <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>
            
            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef> Last Name </th>
              <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>
            
            <ng-container matColumnDef="ssn">
              <th mat-header-cell *matHeaderCellDef> SSN </th>
              <td mat-cell *matCellDef="let element"> <a href="https://google.com"> {{element.ssn}} </a></td>
            </ng-container>
            
            <ng-container matColumnDef="birthDay">
              <th mat-header-cell *matHeaderCellDef> Birthday </th>
              <td mat-cell *matCellDef="let element"> {{element.birthDay}} </td>
            </ng-container>
            
            <ng-container matColumnDef="personType">
              <th mat-header-cell *matHeaderCellDef> Person Type </th>
              <td mat-cell *matCellDef="let element"> {{element.personType.type}} </td>
            </ng-container>
            
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef> Phone </th>
              <td mat-cell *matCellDef="let element; let i = index">
                <span *ngFor="let item of element.phones; let num = index">
                {{item.phone}}&nbsp; &nbsp;{{item.phoneType.type}} <br>
                </span>
              </td>
            </ng-container>
            
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> Delete </th>
              <td mat-cell *matCellDef="let element">&nbsp;&nbsp;<a href="https://google.com"><i class="material-icons" style="color: red;">delete</i></a></td>
            </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      </div>
      <div class="col-sm-2"></div>
  </div>
</div>





