<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><mat-card id="loginmatcardheader"></mat-card></div>
        <div class="col-sm-4"></div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" >
            <mat-card>
                <div class="row">
                    <div class="col-sm-12" style="text-align: center;"><h1>Login</h1></div>
                </div>
                <div class="row" style="text-align: center;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8" >
                        <mat-form-field class="full-width" id="logindetails">
                            <mat-label>Username</mat-label>
                            <input matInput  formControlName="userId" autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row" style="text-align: center;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <mat-form-field class="full-width" id="logindetails">
                            <input matInput id="password" type="password" placeholder="Password" formControlName="password" autocomplete="off" showHideInput >
                            <i class="material-icons" matSuffix showHideTrigger="password" [showHideStatus]="{ materialIcon: true, id: 'password' }"></i>
                        </mat-form-field> 
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <br>
                <div class="row">                    
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <div><a href="https://google.com" id="forget">Forget Password?</a></div>  
                    </div>
                    <div class="col-sm-4">
                        <div style="text-align: right;">
                            <button mat-raised-button color="primary">Login</button>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-4" ></div>
    </div>
    </form>
</div>
