<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" style="text-align: center;"><h1>Login</h1></div>
        <div class="col-sm-2" ></div>
    </div><br>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" >
            <mat-card>
                <div class="row" style="text-align: center;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8" >
                        <mat-form-field class="example-full-width" id="logindetails">
                            <mat-label>First</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row" style="text-align: center;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <mat-form-field class="full-width" id="logindetails">
                            <input id="password" type="password" placeholder="Password" matInput showHideInput >
                            <i class="material-icons" matSuffix showHideTrigger="password" [showHideStatus]="{ materialIcon: true, id: 'password' }"></i>
                        </mat-form-field> 
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <br>
                <div class="row">                    
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <div> <a href="https://google.com" id="forget">Forget Password?</a></div>  
                    </div>
                    <div class="col-sm-4">
                        <div style="text-align: right;">
                            <button mat-raised-button color="primary">Login</button>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>

            </mat-card>
        </div>
        <div class="col-sm-4" ></div>
    </div>
</div>


<!-- 
<mat-form-field class="full-width" floatLabel="always">
    <input id="password1" type="password" placeholder="Password" matInput showHideInput >
    <i class="material-icons" matSuffix showHideTrigger="password1" [showHideStatus]="{ materialIcon: true, id: 'password1' }"></i>
</mat-form-field> 

<mat-form-field class="example-full-width">
    <mat-label>First</mat-label>
    <input matInput>
</mat-form-field>
-->